<div style="text-align: center;">
    <h1 class="text-primary">Signup</h1>
    <mat-form-field appearance="legacy">
        <mat-label>First Name </mat-label>
        <input matInput placeholder=" Enter First Name">
        <mat-icon matSuffix> person </mat-icon>
        <!-- <mat-hint> Hint </mat-hint> -->
    </mat-form-field>
    <br><br>
    <mat-form-field appearance="legacy">
        <mat-label>Last Name </mat-label>
        <input matInput placeholder=" Enter Last Name">
        <mat-icon matSuffix> person </mat-icon>
        <!-- <mat-hint> Hint </mat-hint> -->
    </mat-form-field>

    <br><br>
    <mat-form-field appearance="legacy">
        <mat-label>Email Id </mat-label>
        <input matInput placeholder=" Enter Your Email">
        <mat-icon matSuffix> mail</mat-icon>
        <!-- <mat-hint> Hint </mat-hint> -->
    </mat-form-field>

    <br><br>
    <mat-form-field appearance="legacy">
        <mat-label>Mobile No</mat-label>
        <input matInput placeholder=" Enter Phone Number">
        <mat-icon matSuffix> phone</mat-icon>
        <!-- <mat-hint> Hint </mat-hint> -->
    </mat-form-field>
    <br><br>
    <mat-form-field appearance="legacy">
        <mat-label>Password</mat-label>
        <input matInput placeholder=" Enter Password" type="password">
        <mat-icon matSuffix> password</mat-icon>
        <!-- <mat-hint> Hint </mat-hint> -->
    </mat-form-field>
    <br><br>
    <button mat-raised-button color="warn" type="reset" style="width: 150px;">Signup</button>
</div>